div.container {

  /* Dimensions and positions */
  width: 30vw;
  height: 60vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  /* Display */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  /* Style */
  border: 2px solid black;
  border-radius: 8px;
  
}

div.container > div.form > span {
  color: rebeccapurple;
}

div.container > div.selection > a {
  cursor: pointer;
}